@import "tailwindcss";

@theme {
	--color-razer: #00ff00;
}
:root {
	--color-razer: #00ff00;
	--color-razer-soft: #00cc00;
}

@font-face {
	font-family: Prototype;
	src: url('/font/prototype/Prototype.ttf');
}
@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Black.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

.customScroll{
	overflow-y: scroll;
}
.customScroll::-webkit-scrollbar{
	background: transparent;
	width: 10px;
}
.customScroll::-webkit-scrollbar-thumb{
	border: 2px solid transparent;
	border-width: .5rem 2px;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-image: linear-gradient(var(--color-razer-soft), var(--color-razer-soft)),
		linear-gradient(90deg, transparent, transparent);
}
.customScroll::-webkit-scrollbar-thumb:hover{
	background-image: linear-gradient(var(--color-razer), var(--color-razer)),
		linear-gradient(90deg, transparent, transparent);
}

*{
	font-family: Prototype;
}
h1, h2, h3, h4, h5, h6{
	font-family: Orbitron;
}
h1{font-weight: 600;}
h2, h3{font-weight: 500;}
h4{font-weight: 400;}
h5, h6{font-weight: 300;}